body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #282828;
  border-bottom: 2px solid #444;
}

h1 {
  color: #f2f2f2;
  font-family: "Cinzel", serif;
  font-size: 3rem;
}

main {
  padding: 20px;
  line-height: 1.6;
}

.lyrics {
  margin: 0 auto;
  max-width: 800px;
}

.lyrics h2 {
  font-size: 1.5rem;
  color: #ffcc00; /* Yellow color for section headers */
  font-family: "Lobster", cursive; /* Cursive font for headers */
  margin-top: 30px; /* Added spacing above section headers */
}

.lyrics p {
  margin-bottom: 15px; /* Adjusted spacing below each paragraph */
  font-family: "Montserrat", sans-serif; /* A different sans-serif font for lyrics */
}

.highlight {
  font-weight: bold;

  color: #d8000075; /* Red for highlighted text */
}

.chorus {
  font-size: 1.6rem;
  color: #ff0000; /* Red color for chorus */
  font-weight: bold;
  text-shadow: 14px 20px 8px #fef8f8; /* Shadow effect for emphasis */
}
.lyrics .end {
  font-size: 2rem !important;
  color: #d70404;
  font-weight: 900;
  text-shadow: 0px 15px 20px #e91e63; /* Shadow effect for emphasis */
}
